<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher|Open+Sans:400,400italic,700,800">

<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">

{% unless jekyll.environment == "production" %}
<meta name="robots" content="noindex, nofollow">
{% endunless %}

{% if jekyll.environment == "staging" and page.url == "/" %}
<meta name="google-site-verification" content="lgmrb2ubPYMZj7hLd76JH0Qge_mcKxdA3xIw9WZsQo8" />
{% endif %}