---
title: Bardic Performance Judging Criteria
---
      <p>Includes chant, recitation, storytelling, etc.; category does not include performance composed primarily of singing or dance, or as listed under Dramatic Performance. Embellishment of performance may include, as appropriate, instrumental accompaniment (live or recorded, by entrant or other); dance; acrobatics; juggling; animal acts; etc. Original material (by entrant or other) may be used if it is completely authentic in style. Material may be written or extemporaneous; in original language or translation. Entrant must submit 3 typed copies of text or of outline if material is extemporaneous. Time limit: 10 minutes.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one page should be more than enough, not including visuals and bibliography. 2 pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Composer / Identification / description / use of the entry. Date and place/country of origin entry is modeled on. Reference and copy of music. For original material reference sources upon which piece is based.<br />
• Materials used in the project (instruments and music<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.) Description of musical form, variations and deviations from period norms or discussion of logic applied to design of entry.<br />
• Artistic design identifying time period the piece characterizes. Consider music, medium and performance practice as they relate to period, style, form, national/regional characteristics, discussion of intended performance environment in context of specified period (e.g. mead hall, war camp, etc.), embellishment, etc.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0-2: Blatantly modern in material choice or performance style; OR complete misinterpretation of content of material.<br />
• 3-4: Mixes performance elements and material of variant period or styles.<br />
• 5-6: Most performance elements are consistent with the selection and period.<br />
• 7-8: All performance elements are appropriate to the material, performance environment, nationality and time period.<br />
• 9-10: Special care taken to enhance authenticity, in addition to above (e.g. period instrumental accompaniment, period costumes or props, etc.)</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• vocal elements attempted (see Workmanship)<br />
• physical elements attempted (see Workmanship)<br />
• interpretive elements attempted (see Workmanship)<br />
• scope of endeavor (length, variety of elements, overall complexity)</p>
<p>WORKMANSHIP/PERFORMANCE (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution (performance) and success of the entry on a scale of 1-10 based on the following:<br />
• Vocal elements: variety (tone, pace, pitch and volume); inflection; projection; articulation; use of metrical values, rhyme, sound color; dialect; impersonation/imitation, etc.<br />
• Physical elements: facial expression; gesture, movement, mime, stunts, acrobatics; use of performance space; costume/makeup; grace, control; balance and interaction of multiple performers; props, musical instruments, etc.<br />
• Interpretive elements: communication of levels of meaning; use of physical and vocal elements to enhance meaning; interest level maintained; humor and emotional effects; characterization, etc.<br />
• Integration of elements: overall timing, pace; unity; translations; all elements enhance and support each other; creation of atmosphere as setting for piece (e.g. with an introduction), choice of material of performance style, etc.<br />
• Audience interaction and awareness. Level of embellishment; person or performance environment</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>