---
title: Brewing, Vintning and Infusions Judging Criteria
subtitle: (Revised 11/00)
---
<p>Type of beverage (ale, mead, beer, wine, cider, etc.) should be period. Entrant must specify type of beverage and note ingredients used. If a non-period beverage is entered, entrant should be able to tell why it is non-period. Note: Brews made by completely period processes may be unsafe for drinking. Entrants who adapt techniques or recipes for health purposes and note reasons for the adaptation will not lose points in Authenticity.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, use in period, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design, specific time/place context and social environment in which this beverage would have been served.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Blatantly modern in some way: type of beverage, ingredients, process, etc.<br />
• 1-2: Generally period product, but use of modern preparation processes,<br />
• 3-4: Generally period product, but obvious mixture or ingredients and/or processes from different cultures or periods.<br />
• 5-6: Overall period product, with minor inconsistencies (Ex: some non-period ingredients, short-cuts in preparation, etc.)<br />
• 7-8: Period product; process period or reasonable equivalent; no inconsistencies in ingredients, process, time/place context.<br />
• 9-10: Special effort to achieve an completely period product by using totally period ingredients OR period methods.<br />
Note: Extra points may be awarded for an effort to recreate period bottling techniques.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• 1: Use of kit or pre-prepared ingredients with no changes or minor changes by the entrant.<br />
• 2: Use of kit or pre-prepared ingredients with major changes by the entrant.<br />
• 3-4: Original work of entrant, using a "standard recipe" that is moderately difficult.<br />
• 5-6: Original work of entrant, using a "standard recipe" where processes and ingredients used are more difficult, some extra steps or delicate handling are needed.<br />
• 7-8: Original work of entrant, using a "Non-standard recipe".<br />
• 9-10: Original work of entrant, using a "Non-standard recipe" where processes and ingredients used are more difficult, some extra steps or delicate handling are needed.</p>
<p>WORKMANSHIP (3-30 points. Scored 1-10 then multiplied by 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
Rank the beverage's appearance, aroma and taste as follows, using either the wine product scale (for wine, mead, etc.); beer product scale (for beer, ale, etc.); or infusion scale (for cordials, liqueurs, etc) as appropriate. Total the points according to the scale, then divide by 2. (Round half-point up to next whole point.) Scale found below.<br />
Note: If a beverage is brewed specifically to demonstrate a period product that may vary unpleasantly from modern tastes, entrant should provide period written descriptions or similar rationale to justify to type of variance, explaining specific goals attempted. Judges should then rate beverage in terms of period tastes, as documented by the entrant, rather than modern ones. (Judges as a group may make minor alterations in the scale to allow for unusually brewed beverages, as long as the final score is between 1 and 10.)</p>
<p>Wine Product Scale<br />
• Appearance (up to 2 points) A brilliant wine rates all points. If it is clear, but lacks brilliance, give it one point. A cloudy wine with chunks would rate a zero.<br />
• Color (up to 2 points) Is depth and tint appropriate to type of beverage?<br />
• Aroma and Bouquet ( up to 2 Points) 0 = weak or unpleasant; 2 = strong, fragrant, proper for type<br />
• Freedom from "off" odors (up to 2 points) no vinegar, yeast, sulfite, sulfide, etc.<br />
• Total acid (up to 2 points) Acid should be balanced, neither too much nor too little<br />
• Sugar (up to 2 points) Sweetness or dryness should be appropriate to type<br />
• Body (up to 2 points) Thin and watery = 0; rich and full-bodied = 2<br />
• Flavor (up to 4 points) flavor should be pleasant and free from off tastes. Is flavor deep and rich? Aftertaste should be pleasant, linger slightly, but should not stay for dinner.<br />
• Astringency (tannin) (up to 2 points) 0 = very high or very low; 1 = high or low 2 = correct for type</p>
<p>Infusion Product Scale<br />
• Appearance (up to 2 points) A brilliant cordial rates all points. If it is clear, but lacks brilliance, give it one point. Not all cordials are intended to be clear. Anything with floating elements is zero.<br />
• Color (up to 2 points) Is depth and tint appropriate to type of beverage?<br />
• Aroma and Bouquet (up to 2 Points) 0 = weak or unpleasant; 2 = strong, fragrant, proper for type<br />
• Freedom from "off" odors or intense alcohol odor (up to 2 points) no vinegar, yeast, sulfite, sulfide, etc.<br />
• Sugar (up to 2 points) Sweetness or dryness should be appropriate to type<br />
• Body (up to 2 points) Thin and watery = 0; rich and full-bodied = 2 Does it leave "legs" on the glass?<br />
• Flavor (up to 4 points) flavor should be pleasant, deep, rich and free from off tastes. Aftertaste should be pleasant and linger slightly, but should not stay for dinner.<br />
• Balance (up to 4 points possible) The flavor of the herbs, spices, fruit, and sweetener used should be balanced. No one flavor should dominate.</p>
<p>Beer And Ale Product Scale<br />
• Appearance (up to 2 points possible) Clarity: no haze of floating sediment<br />
• Color (up to 2 points possible) Is depth and tint appropriate to beverage?<br />
• Effervescence (up to 2 points possible) Head should collapse less than 50 percent after 1 minute; bubbles small to medium, feel even in mouth<br />
• Aroma and Bouquet (up to 2 points possible). Balance between malt and hops (or other ingredients)? Hop character? Malt character? Special spices?<br />
• Freedom from "off" odors (up to 2 points possible) Should not smell of vinegar, yeast, sulfite, etc.<br />
• Gruit/Hop quality (up to 2 points possible) Correct taste and aftertaste<br />
• Hop intensity (1 point possible) As appropriate to type of beer or ale<br />
• Non-hop character (2 points possible) Correct flavors or undertones of malt and other ingredients<br />
• Sweet/dry balance (1 point possible) As appropriate to type of beer or ale.<br />
• Aftertaste ( up to 2 points possible) Pleasant: not too long-lasting<br />
• Body (2 points possible) 0 = too thin or too rough; 1 = average, 2 = full-bodied, smooth, correct for type</p>
<p>Wine Product Scale:<br />
 ___________Appearance (0-2)<br />
 ___________Color (0-2)<br />
 ___________Aroma and Bouquet(0-2)<br />
 ___________Freedom from "off"odors (0-2)<br />
 ___________Total acid (0-2)<br />
 ___________Sugar (0-2)<br />
 ___________Body (0-2)<br />
 ___________Flavor (0-4)<br />
 ___________Astringency (0-2) I 	</p>
<p>Infusion Product Scale:<br />
 ___________Appearance (0-2)<br />
 ___________Color (0-2)<br />
 ___________Aroma and Bouquet(0-2)<br />
 ___________Freedom from "off"odors (0-2)<br />
 ___________Sugar (0-2)<br />
 ___________Body (0-2)<br />
 ___________Flavor (0-4)<br />
 ___________Balance (0-4) 	</p>
<p>Beer and Ale Product Scale:<br />
 ___________Appearance (0-2)<br />
 ___________Color (0-2)<br />
 ___________Effervescence (0-2)<br />
 ___________Aroma and Bouquet(0-2)<br />
 ___________Freedom from "off"odors (0-2)<br />
 ___________Gruit/Hop quality (0-2)<br />
 ___________Hop intensity (0-1)<br />
 ___________Non-hop Character (0-2)<br />
 ___________Sweet/dry balance (0-1)<br />
 ___________Aftertaste (0-2)<br />
 ___________Body (0-2)</p>
<p>TOTAL, then divide by 2 	TOTAL, then divide by 2 	TOTAL, then divide by 2</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>