---
title: Ceramics and Pottery Judging Criteria
---
<p>Includes functional objects crafted of clay, with or without decoration. Purely decorative items should be judged under Sculpture.<br />
<B>NOTE: Containers finished with period leaf-based glazes or some other period sealers can be poisonous if used with food. Entrants who substitute modern glazes, and who note the reasons for the substitution, will not lose points in Authenticity.</b></p>
<p>DOCUMENTATION(3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project (clay, glazes, stains, etc)<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process (wheel thrown, hand-built, slip-cast, etc)<br />
• Research (country, period of origin, typical characteristics, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design and appropriateness of choices for intended purpose</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Blatantly modern in one or more elements: e.g. construction (slip cast from a commercial mold, etc.), decoration (modern motifs, etc.), materials (commercial decals, etc.), or intended use of item (ashtray).<br />
• 1-2: Generally period, with some obviously modern elements present<br />
• 3-4: Obvious mixture of elements from different cultures or periods (e.g. Florentine motifs to decorate a 9th century oil lamp, etc.)<br />
• 5-6: Overall period style and execution, minor inconsistencies (e.g. reproduction of earthenware piece in stoneware)<br />
• 7-8: Form, construction techniques, and decoration are period; materials are period or reasonable equivalents. Some modern measures may be used if they achieve a period result (e.g. firing in a gas or electric kiln).<br />
• 9-10: Special effort to achieve a completely period product by use of period design, materials, tools, techniques, etc.; e.g. glazes made by hand, fired in a wood-burning kiln, etc.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Size and/or number of parts to piece or set (e.g. huge amphora, cup with handle, lidded tureen, tea set)<br />
• Construction methods (easy techniques include molded, slab and coiled - depending on size; hard ones include free hand sculpting and wheel thrown)<br />
• Style (consider straight lines versus curves, number and degree of each, plus fluting in the lip, etc.)<br />
• Ornamentation (including slip, s'graffito, applique, carving, and sculpting)<br />
• Glaze (consider number of glazes applied and firing technique, such as raku)<br />
• Difficulty and variety of materials used (clay, glazes, etc.)<br />
• Difficulty of form (joints, proportion, handles, lids, etc.)<br />
• Difficulty and variety of construction techniques (thrown, cast, etc.)<br />
• Difficulty and variety of decoration (motifs, colors, sculpting, etc.)<br />
• Scope of endeavor (size of work relative to amount of detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following:<br />
• Symmetry (Is piece lop-sided? Does lid fit?)<br />
• Evenness and Thickness (Is clay wall uniform from top to bottom? Is clay body excessively heavy?)<br />
• Trimming (Has potter paid attention to the underside of the piece?)<br />
• Finishing (Has glaze and/or ornamentation been carefully applied?)<br />
• Form and design: balance, proportion, handle placement, structure, etc.<br />
• Execution: watch for uneven walls, sloppy joints, "overworking," etc.<br />
• Function: does it do what it should? Is weight correct for intended use? Watch for leaky pitchers, dribbling spouts, uncomfortable handles, etc.<br />
• Finishing and decoration: smoothness of edges, glazing, design, etc.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>