---
title: Chandlery Judging Criteria
---
<p>This category includes candle-making and soapmaking. Chandlery is the science dealing with the crafts handled by a medieval chandler, which included the production of candles and many times soap. These two areas are logically connected as both use similar materials (animal products/by-products) to produce a usable, non-edible item.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design and appropriateness of choices for intended purpose</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Out of period; blatantly modern<br />
• 1: Some period elements &amp; apparent knowledge of period techniques<br />
• 2: Generally period with some obvious modern elements present<br />
• 3: Obvious mixture of elements from different cultures or periods (Ex. late-period media used for an exclusively early-period object, combination of motifs from unconnected cultures or periods, etc.)<br />
• 4: Approximates period work, but has obvious flaws &amp;/or inconsistencies<br />
• 5: Overall period design, style, and execution with minor inconsistencies.<br />
• 6: Sound knowledge of period practice evident, flaws and inconsistencies are minor<br />
• 7: Good period effect, minor flaws only, deviations from period clearly explained<br />
• 8: Period design and execution with no inconsistencies; period materials or reasonable equivalents.<br />
• 9-10: A completely period product by use of period design, materials, tools, techniques, etc.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Difficulty of materials handling involved in project or decoration<br />
• Amount of time involved, including research, material preparation, and amount of guidance<br />
• Difficulty, duration, and variety of steps and techniques (skills used to complete the project)<br />
• Difficulty and variety of media, materials, tools used.<br />
• Scope of project; ambition of the attempt<br />
• Number &amp; complexity of pattern pieces or design elements used<br />
• Difficulty and variety of design strategies applied (Ex. kit is minimal; kit embellishment more advanced; designing original procedures is best).</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following:<br />
• Choice/effective use of materials &amp; tools<br />
• Attention to details, neatness, finishing touches<br />
• Ability of entry to serve intended function<br />
• Form/design: balance, aesthetics, motifs, proportion, etc.<br />
• Function: does it do what it should do and look as it should look?<br />
• Mastery of period style and technique, personalization or special embellishment.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>