---
title: European Dance Performance Judging Criteria
---
<p>Individual or group entries. An original dance (by entrant or other) may be used if it is completely authentic in style. Choreography will not be judged; interpretation and alteration of a given choreography will be judged.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design, i.e. the relationship between various elements (steps, music, costume, etc.); as well as context in which dance would be performed; explanation of any theme, influence of garb, social class, etc. on performance</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0-2:Dance choreography and/or performance style not period<br />
• 3-4: Mixes period and non-period elements, or mixes incompatible styles.<br />
• 5-6: Basically period, with minor inconsistencies (Ex. incorrect handholds).<br />
• 7-8: Authentic not only in steps and figures, but also in music and details such as posture, handholds and mood of dance (solemn, flirtatious, etc.)<br />
• 9-10: Special effort taken to create a completely period impression: Ex. appropriate garb, live music, etc.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Variety of steps and figures<br />
• Difficulty of steps and figures<br />
• Difficulty of speed and timing<br />
• Difficulty of theme or mood<br />
• Use of props, special garb, mime, other added elements.<br />
• Scope of endeavor (length, number of people, etc.)</p>
<p>PERFORMANCE <B>replaces</b> "WORKMANSHIP" on the score sheet. (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution (performance) and success of the entry on a scale of 1-10 based on the following:<br />
• Knowledge of dance (accuracy, confidence)<br />
• Timing<br />
• Spacing<br />
• Proper execution of steps, including precision and grace<br />
• Development of theme or mood, audience awareness, showmanship.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>
<p><B>NOTE: Extra points may be awarded for use of original or unusual elements introduced (example: mime, props, masks); well-developed theme or mood (Ex. dance macabre, courtship, mourning, etc.) if expressed in a logical and appropriate manner.</b></p>