---
title: Spinning Judging Criteria
---

The making of cloth or yarn from fiber. Entry should be skein or on spool; no woven cloth, embroidery, etc. Multiple skeins/spools of the same product may be entered to show quantity produced. Entrant should note fiber used and means of spinning(drop spindle, hand distaff, wheel, etc.)</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design and appropriateness of product to intended use</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Blatantly modern in some aspect (Ex. man-made fiber, modern color, etc.)<br />
• 1-2: Generally period, with some obviously modern elements (Ex. used electric wheel to produce period looking results)<br />
• 3-4: Generally period but obvious mixture of materials or techniques from radically different cultures or periods.<br />
• 5-6: Overall period product and process, with minor inconsistencies (Ex. used authentic fibers commercially prepared for spinning)<br />
• 7-8: Period product and process with no inconsistencies<br />
• 9-10: Special effort to achieve a completely period product by use of period raw materials, tools, etc. Completely period process without modern shortcuts. (Ex. sheared own sheep or grew own fiber plants, made period wheel, etc.)</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Difficulty of spinning method used<br />
• Difficulty of fiber used<br />
• Fineness of thread<br />
• Preparation and finishing methods (shearing, combing, harvesting, bleaching, waxing, etc.)<br />
• Scope of endeavor (length and number of skeins, number of plies, etc.)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following:<br />
• Choice of materials, tools, methods: is combination suitable?<br />
• Form: is it of intended fineness?<br />
• Uniformity in weight, twist, strength?<br />
• Function and durability: will product stand up to its intended use?<br />
• Personalization and/or special embellishment</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other such items not previously addressed.</p>